@model SallesWebMvc.Models.Departamento

@{
    ViewData["Title"] = "Delete";
}

<h2>Excluir</h2>
<br/>

<h4>Deseja realmente deletar o departamento ?</h4>

<div>
    <br/>
    <h4>Detalhes do departamento: </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-default" /> |
        <a asp-action="Index">Retornar</a>
    </form>
</div>
